nav {
  height: 80px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 4px -1px whitesmoke;
  font-family: 'Poppins', sans-serif;
}

h2 {
  line-height: 80px;
  display: inline-block;
  margin-left: 40px;
  color: #B27A61;
}

ul {
  float: right;
  margin-right: 40px;
  list-style: none;
}

ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: black;
  margin-left: 60px;
}

ul li a:hover {
  color: #B27A61;
}

label img {
  width: 30px;
  float: right;
  margin-left: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

.mainLogo {
  margin-left: 40px;
  margin-top: 10px;
  width: 226px;
}

.buatUndangan {
  background-color: #F8F2EE;
  color: #605D5F;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: 600;
}

#check {
  display: none;
}

@media (max-width: 1076px) {
  .humberger {
    display: block;
    margin-right: 40px;
    margin-top: 25px;
  }

  .close {
    margin-right: 40px;
    margin-top: 30px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-right: 0;
    right: -100%;
    top: 80px;
    text-align: center;
    background-color: white;
    transition: .5s;
  }

  ul li {
    display: block;
    line-height: 10px;
    margin: 50px 0;
  }

  #check:checked ~ ul {
    right: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #close {
    display: block;
  }
}

@media (max-width: 768px) {
  nav {
    height: 50px;
  }

  .humberger,
  .close {
    width: 25px;
    margin-right: 20px;
    margin-top: 12px;
  }

  .mainLogo {
    margin-left: 20px;
    margin-top: 5px;
    width: 150px;
  }

  ul li a {
    margin-left: 0;
  }
}